
@font-face {
  font-family: "Inter";
  src: local("Inter") ,
  url("./assets/fonts/Inter-SemiBold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fattern";
  src: local("Fattern") ,
  url("./assets/fonts/Fattern.otf");
  font-weight: bold;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 2px solid pink*/
}

:root {
  --min-tile-size: 1px;
  --tile-size: max(var(--min-tile-size), min(calc(100vw / 8.5), calc(100vh / 8.5)));

  --layer-shadow-1: #BDFFAE;
  --layer-shadow-2: #0F8401;
  --layer-shadow-3: #0A5201;
}

#title {
  color: #212121;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Fattern", sans-serif;
  font-size: clamp(2rem, 8vw, 5rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: -2px 2px 1px var(--layer-shadow-3), -2px 2px 1px var(--layer-shadow-2);
}

span {
  display: block;
  position: relative;
  padding: 0.25rem;
}

span:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 1px 1px 1px var(--layer-shadow-2), -1px -1px 1px var(--layer-shadow-1),
  -1px 1px 1px var(--layer-shadow-2), 1px -1px 1px var(--layer-shadow-1);
  z-index: 1;
}

body {
  background: #489561;
  background: linear-gradient(270deg, #489561, #2BAB5D);
}

#body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  padding: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: clip;
}

button, input, .tile-container {
  border: none;
  border-radius: calc(var(--tile-size) / 10);
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -4px 0 inset;
  outline: none;
  height: clamp(2rem, 5vh, 5em);
  width: clamp(2rem, 10vw, 5em);
}

button {
  cursor: pointer;
  font-size: clamp(1rem, 1.8vw, 1.25rem);
  width: 100px;
  padding: 0.5rem;
  height: clamp(2rem, 5vh, 5em);
}

input:disabled {
  color: black;
}

#board-area {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  place-items: center;
}

#submission-area {
  display: flex;
  flex-direction: row;
  place-items: flex-end;
  padding: 1rem;
  min-width: 100%;
}

#input-area {
  display: block;
  height: 100%;
  width: 60%;
}

.submission-item {
  align-content: flex-end;
  margin: auto;
}

.board {
  display: grid;
  flex-direction: row;
  gap: calc(var(--tile-size) / 8);
  padding: calc(var(--tile-size) / 8);
}

label, .text-input {
  width: 100%;
  margin: 0.5em 0;
  font-size: clamp(1rem, 1.8vw, 1.25rem);
}

.tile-container {
  position: absolute;
  inset: 0;
  place-items: center;
  width: var(--tile-size);
  height: var(--tile-size);
}

.tile {
  position: relative;
  inset: 0;
  height: 100%;
}

.tile-letter {
  position: absolute;
  inset: 0;
  background: none;
  font-family: "Inter", sans-serif;
  font-size: calc(var(--tile-size) / 1.4);
  text-align: center;
  text-shadow: 0 1px #FFF, 0 1px #D5DEE7;
  width: 100%;
  height: 100%;
}

@media (max-width: 1050px) {
  #body {
    display: flex;
  }

  #submission-area {
    width: 60vw;
  }
}
